# --------------------------
# Python 関連
# --------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# 仮想環境
.venv/
env/
venv/
ENV/

# pipenv
Pipfile.lock

# mypy キャッシュ
.mypy_cache/
.dmypy.json

# coverage
.coverage
htmlcov/
*.cover
*.py,cover
coverage.xml

# pytest
.cache/

# --------------------------
# VS Code 関連
# --------------------------
.vscode/
.history/

# --------------------------
# その他の IDE / エディタ
# --------------------------
.idea/
*.sublime-project
*.sublime-workspace

# --------------------------
# OS 関連
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# ビルド関連
# --------------------------
build/
dist/
*.egg-info/